ul {
  padding: 10px;
}

li {
  list-style: none;
  margin: 10px;
  padding-bottom: 10px;
}

.list_present li {
  border-bottom: solid 1px grey;
}

.book_list {
  max-height: 400px;
  width: 400px;
  overflow-x: scroll;
}
